---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="author-info">
        <h1 class="author-name">{{ page.name }}</h1>
        {% if page.image %}
          <img src="{{ page.image | prepend: site.baseurl }}" alt="{{ page.name }}" class="author-image">
        {% endif %}
        <p class="author-bio">{{ page.bio }}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-12">
      <h2 class="author-posts-title">Posts by {{ page.name }}</h2>
      <ul class="author-posts-list">
        {% assign filtered_posts = site.posts | where: 'author', page.name %}
        {% for post in filtered_posts %}
          <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>