---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="author-info">
        <img src="{{ page.avatar }}" alt="{{ page.name }}" class="author__avatar">
        <h1 class="author__name">{{ page.name }}</h1>
        <p class="author__bio">{{ page.bio }}</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col col-12">
      <h2>Posts by {{ page.name }}</h2>
      <ul class="post-list">
        {% assign filtered_posts = site.posts | where: 'author', page.name %}
        {% for post in filtered_posts %}
          <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>